.menuItemContainer {
    padding: 0;
    vertical-align: text-top;
    display: flex;
    padding: 8px 0;
    width: fit-content;
}

.menuItem {
    background: rgba(0, 0, 0, 0.651);
    padding: 15px 25px;
    width: 250px;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    font-family: sans-serif;
    transition: all .4s;
}

.menuItem:hover {
    cursor: pointer;
    background: #ffffff94;
    color: #000;
}