.button {
    background: rgba(0, 0, 0, 0.651);
    /* position: absolute;
    bottom: 3%; 
    left: 2%; */
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 21px;
    font-weight: 700;
    outline: none;
    transition: all .4s;
}

.button:hover {
    cursor: pointer;
    background: #ffffff94;
    color: #000;
}

.a {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-decoration: none;
    margin: 0 0 30px 30px;
}