.timer {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
}

.timeIsUp {
    color: #fff;
    font-size: 30px;
    margin: 0 auto;
}